@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



* {
  margin: 0;
  padding: 0;
}



a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
.container {
  width: 1140px;
  margin: 0 auto;
}

.ftext {
  font-family: Lato;

  &_product{
    font-size: 14px;
    color: #6f6e6e;
    text-decoration: none;
  }
  &_title{
    line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
  }
  
  &_styles {
  font-weight: 400;
  line-height: 26px;
  }

  &_up {
    text-transform: uppercase;
  }

  &_ititle {
    font-size: 13px;
    color: #222222;
  }

  &_sptitle {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
  }

  &_cat {
    line-height: 20px;
    font-weight: 700;
    letter-spacing: -0.015em;
  }

  &_cap {
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 38px;
  }

  &_cs {
    line-height: 20px;
    color: #575757;
  }

  &_sp {
    font-weight: 300;
    color: #6f6e6e;
  }

  &_value {
    color: #656565;
    text-align: center;
  }

  &_form {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    color: #222222;
  }

  &_subform {
    font-size: 11px;
    line-height: 1.2;
    font-weight: 400;
    color: #4a4a4a;
    margin-bottom: 14px;
  }

  &_sptext {
    font-weight: 300;
    color: #5e5e5e;
    text-align: center;
  }

  &_pink {
    color: #f16d7f;
  }

  &_grey {
    color: #b9b9b9;
  }

  
}

/* Стили хедера */
.header {
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: #ffffff;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.header-form {
  display: flex;
}

.button-site {
  background-color: #f16d7f;
  padding: 12px 19px;
  border: 1px solid transparent;
}

.button-site:hover {
  background-color: #fff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.my-acc {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.menu-link {
  text-decoration: none;
  display: block;
  padding: 20px 25px;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

.banner {
  height: 613px;
  background-color: #e8e8e8;
  margin-bottom: 100px;
}

.banner-block {
  height: 100%;
  background: url(img/banner.jpg) 0 -51px;
}

.the-brand {
  color: #222222;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 45px;
  margin-bottom: 20px;
}

.text-fashion {
  color: #222222;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 31px;
}

.banner-text {
  margin-top: 224px;
  border-left: 12px solid #f16d7f;
  float: left;
  padding-left: 12px;
}

.span-fashion {
  color: #f16d7f;
}

.mega-box {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  right: auto;
}

.menu-headding {
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  width: 235px;
  border-bottom: 1px solid #e8e8e8;
}

.mega-link {
  display: block;
  font-family: Lato;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #646464;
  text-decoration: none;
}

.mega-link:hover {
  color: #f16d7f;
}

.menu-item { 
  margin-right: 46px;
  
}

.menu-item:last-of-type {
  margin-right: 0;
}

.menu-list {
  position: relative;
}

.mega-box::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  position: absolute;
  top: -6px;
  left: 33px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.menu-list:hover .mega-box {
  display: flex;
}

.last:hover .mega-box {
  right: 0;
  left: auto;
}

.last:hover .mega-box::before {
  right: 50px;
  left: auto;
}

.banner {
  margin-bottom: 100px;
}

.category {
  margin-bottom: 100px;
}

.badges {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.badges__column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.badge {
  width: 560px;
  height: 542px;
  position: relative;
 }

.badge__img {
   width: 100%;
}

.badge__link {
  position: absolute;  
  top: 26px;
  left: 0%;  
  text-decoration: none; 
  padding: 16px 20px 16px 20px;
  background-color: #ffffff;
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}

.badge__span {
  font-size: 30px;
  color: #f16d7f;
}

.nar {

  height: 261px;
}




.item-desc {
  margin-bottom: 60px;
}

.item-flex {
display: flex;
flex-direction: column;
align-items: center;
}



.item {
  width: 263px;
  position: relative;
  margin-bottom: 40px;
}

.item-link {
  width: 263px;
  display: block;
  text-decoration: none;
}

.item-sec {
  margin-bottom: 500px;
}

.item:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.item-img {
  width: 100%;
}

.txt-box {
  padding: 20px;
}

.description {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 17px;
}

.item-price {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}

.item:hover .item-img {
  filter: brightness(30%);
}

.add {
  display: flex;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 10px;
  align-items: center;
  pointer-events: all;
}

.add-txt {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}

.cart {
  margin-right: 10px;
}

.add-box {
  position: absolute;
  top: 98px;
  display: none;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}

.add:hover {
  box-shadow: 0 0 10px 0 #fff;
}

.item:hover .add-box {
  display: flex;
}

.item-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.browse__btn {
  width: 212px;
  height: 48px;
  background: #FFF;
  border: 1px solid #F16D7F;
  text-align: center;
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 95px;
  }
  
  .browse__btn:hover {
  border: none;
  background: #F16D7F;
  color: #FFF;
  }

  .features {
    height: 529px;
  }

  .feature {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .feature_banner {
    position: relative;
    width: 767px;
    
  }

  .ban {
background: none;
padding: none;
text-decoration: none;
top: 146px;
left: 39px;
font-family: Lato;
font-size: 53.7px;
line-height: 1.2;
font-weight: 700;
letter-spacing: 0.025em;
color: #ffffff;
  }

.offer {
  color: #f16d7f;
}

.women {
  font-size: 32.2px;
}

.feature__right__bckgr {
  background-color: #222222;
  height: 529px;
  width: 380px;
  
}

  .feature__right {   
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 48px 43px 66px 36px;
    gap: 53px;
    
   
     
    
}


.sales_list{
  display: flex;
  flex-direction: column;
 
  
}

.sales_btn {
background-color: #222222;
border: none;
}

.sales__title {
  display: flex;
  flex-direction: row;
  gap: 33px;
  
  
 
}



.sales__heading {
  font-family: Lato;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}

.sales_desc {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  padding-left: 83px;
}

.feedback {
  height: 448px;
  background-image: url(./img/photo_subscribe.jpg);
  background-size: cover;
}

.subscribe {
  display: flex;
  flex-direction: row;
  padding-top: 97px;
  gap: 223px;
}

.intersect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left {
  gap: 30px;
}

.int__img {
  width: 96px;
  height: 96px;
}

.inter__text {
color: #222224;
text-align: center;
font-size: 20px;
font-weight: 400;
}

.it {
  font-style: italic;
}

.right {
  padding-bottom: 156px;
  gap: 40px;
}

.sub__heading {
color: #222224;
text-align: center;
font-size: 24px;
font-weight: 700;
line-height: 167.2%; /* 40.128px */
}

.sbt {
font-size: 18px;
font-weight: 400;
}




.inp__btn {
  
  display: flex;
  flex-direction: row;
  background-color: #E1E1E1;
  gap: 64px;
  border-radius: 30px;

 
  
  
}

.subscribe__input {
  width: 170px; 
  height: 49px;   
  background-color: #E1E1E1;       
  border: none;
  padding-left: 22px;
  border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
  
  
  

}

.sub__btn {
  height: 36px;
  width: 85px; 
  height: 49px;   
  background-color:  #E05C6E;;   
  border: none;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

}

.footer {
   
  background-color:  #222224;
  
  }

.footer__wrapper {
  height: 79px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 780px;
  padding: 31px 31px;
}

.copyright {
  width: 332px;
  height: 19px;
  
}

.cr__text {
color: #FBFBFB;
font-size: 16px;
font-weight: 400;
}

.networks {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  #FFF;
}

.inst {
  background-color: #F16D7F;
}


.icon:hover  {
  background-color:#F16D7F ;
 
 
}

.icon:hover .ic__svg {
  fill: white;
}

.inst:hover {
  background-color: #fff;
}

.inst:hover .ic__svg {
  fill: #F16D7F
}

$input_width: 144px;
$input_height: 35px;
$input_color:  #ffffff;
$input_border:  1px solid #eaeaea;


.product_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.l_menu {

  font-size: 1.3rem;
  
  /*margin-right: 50px;*/
}

.l_menu-list{
  list-style: none;
}

.l_menu-item {
  position: relative;
  margin-bottom: 5px;
  width: 230px;
  
}

.sub-menu {
  padding: 10px 0;
  font-size: 1.1rem;
}

.l_menu-title {
  display: block;
  padding: 16px 14px;
  background: #fff;
  border-left: solid 5px #ef5b70; 
  border-bottom: 1px solid #ebebeb;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
  text-decoration: none;
}

/* Убираем стандартный маркер Chrome */
.l_menu summary::-webkit-details-marker {
  display: none;
}
/* Убираем стандартный маркер Firefox */
.l_menu summary {
  list-style: none;
}

.l_menu summary {
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0; 
  background: #fff;
  cursor: pointer;
  color: #6f6e6e;
}

.l_menu .sub-menu summary {
  height: 46px;
}

.l_menu-title:hover,
.l_menu summary:hover {
 
  color: #ef5b70;
}

.l_menu summary:before {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: transform 0.2s;
  will-change: transform;
}

.l_menu details[open] > summary:before {
  transform: rotate(180deg);
}

.sub-menu-title {
  font-family: Lato;
font-size: 14px;
line-height: 33px;
font-weight: 400;
color: #6f6e6e;
text-decoration: none;
}

.sub-menu_list {
  margin-top: 22px;
  margin-left: 20px;
  list-style-type: none;
}



.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 43px;
}

.filter {
  display: flex;
  flex-direction: column;

  /*&_size {
    margin-left: 115px;
  }

  &_price {
    margin-left: 57px;
  }*/
 
}



.fcategories {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 10px;

  &_price{
    gap: 23px;
  }

  &_range {
    justify-content: space-between;
  }
}



.size {
width: 13px;
height: 13px;
border: 1px solid #ebebeb;
}

input#price {
  width: 230px;


}

.sort__bckgr{
  display: flex;
  flex-direction: row;
  align-items: center;
  
  background-color: #f3f3f3;
  height:  50px;  
  margin-bottom: 47px;
}

.dropdowns{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  gap: 10px;
  
  
  
  
}

.dropdown__btn{
  background: #FFF;
  border: none;
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 13px;
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
   font-weight: 400;
   color: #6f6e6e;
}

.dropdown {
  /*float: left; */
  display: flex;
  flex-direction: row;        
  position: relative;
  height: 30px;  
  background-color: #f3f3f3;
  border: 1px solid #ebebeb;
  gap: 3px;  
  }

  .dropdown_title {
    display: flex;
    align-items: center;
    padding: 8px 8px 8px 13px;
    background-color: #ffffff;
  }

  .dropdown_content {
    display: none;
    position: absolute;
    min-width: 78px;
    top: 28px;      
    right: 0;
    float: left;

    /*left: auto;*/
    background-color: #FFF;
   
    
  }

  .dropdown:hover .dropdown_content {
    display: block;
    z-index: 1;
    
   
   
    
  }

  .dropdown_list {
    list-style-type: none;
    
  }

  .dropdown_link{   
    text-align: right;
    display: block;
  }

  .product-box{
    display: grid;
    grid-template-columns: repeat(3, 263px);
    grid-template-rows: 1fr 1fr;
    /*position: relative;*/
    gap: 30px;
    margin-bottom: 43px;
    
  }

  .view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .pag_nav {
    padding: 15px 15px 15px 15px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    
  }

  .pagination {
    display: flex;
    flex-direction: row;
    width: 215px;
    justify-content: space-between;
  }

  .page-item {
    list-style-type: none;
  }

  .page-link {
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: #c4c4c4;
  }

  .page-item:hover .page-link {
    color: #ef5b70;
  }

  .va_btn {
    width: 150px;
    height: 44px;
    background-color: #ffffff;
    border: 1px solid #ef5b70;
    border-radius: 3px;
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: #ef5b70;
  }

  .va_btn:hover {
    background-color:#ef5b70;
    color: #FFF

  }

  
    
    .arrivals {
      background-color: #f8f3f4;
    }
    
    .newarr {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 65px;
      padding-bottom: 65px;
    }
    
    .top__nav {
      display: flex;
      flex-direction: row;
    }
    .img__bckg {
      background-color: #f7f7f7;
      height: 777px; 
      border: 1px solid #eaeaea;
      display: flex;
      flex-direction: row;
      align-items: center;
      
    }
    .slider_btn {
      width: 47px;
      height: 47px;
      background-color: rgba(42,42,42,0.14);
      border: none;
      font-size: 24px;
      line-height: 24px;
      font-weight: 400;
       color: #ffffff;
    }
    
    .slider_btn:hover {
      background-color: #FFF;
      color:rgba(42,42,42,0.14); 
    }
    
    
    .pr__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
   
    
    .pr__desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 1141px;
      height: 730px;   
      background-color: #fff;
      border: 1px solid #eaeaea;
      transform: translate(0px, -73px);
    }
    
    .pr__properties {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 642px;
      padding-top: 73px;
      padding-bottom: 122px;
      
    }

    .spheader {
      margin-bottom: 67px;
      font-family: Lato;
font-size: 18px;
line-height: 24px;
font-weight: 900;
text-transform: uppercase;
color: #4d4d4d;
    }

    .spheader_price {
      font-family: Lato;
font-size: 24px;
line-height: 24px;
font-weight: 700;
color: #ef5b70;
    }

    .pink__line {
      width: 63px;
      height: 3px;
      background-color: #ef5b70;
      position: absolute;
    }

    .pr__info {
      display: flex;
      flex-direction: row;
      gap: 44px;
      margin-top: 28px;
      margin-bottom: 37px;
    }

    .browse {
      display: flex;
      flex-direction: row;
      gap: 53px;
      margin-bottom: 28px;
    }
    
    .browse__inputs {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    
    .browse__input {
      width: $input_width;
      height: $input_height;
      background-color: $input_color;
      border: $input_border;
    
    }

    .add__btn {
      width: 537px;
height: 55px;
background-color: #ffffff;
border: 1px solid #ef5b70;
color: #ef5b70; ;
    }

    .offers_box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .offers_header{
      font-family: Lato;
font-size: 24px;
line-height: 20px;
font-weight: 900;
text-transform: uppercase;
color: #4d4d4d;
margin-bottom: 72px;
    }

    .offers__flex{
      display: flex;
      flex-direction: row;
      gap: 31px;
    }
    
   

  .pr__details  {
margin-bottom: 63px;
  }  

  .cartitems__box {
    display: flex;
    flex-direction: column;
  }

  .cartitems__categories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .cartitem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #eaeaea; 
    border-bottom:1px solid #eaeaea ;
    align-items: center;
    height: 162px;
  }

  .cartitems__categories_right{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   width: 580px;
    
  }

  .cartitem_right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 580px;
  }
  .sp__link{
    display: flex;
    flex-direction: row;
  }

  

  .ci_img {
    width: 100px;
    height: 115px;
  }

  
  

  .ci__input {
    width: 54px;
    height: 30px;
    text-align: center;
    border: 1px solid #eaeaea;
  }

  

  

  .ci__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    }

    .clear__continue {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .cc {
padding: 20px 38px 20px 38px;
border: 1px solid #eaeaea;
background-color: #ffffff;
font-family: Lato;
font-size: 14px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: #4a4a4a;
margin-top: 44px;
    }

    .cc:hover {
      background-color: #4a4a4a;
      color: #ffff

    }

    .customer {
      margin-bottom: 79px;
    }

    .cartform {
      display: flex;
      flex-direction: row;
      gap: 35px;
    }


    .adress {
      display: flex;
      flex-direction: column;
      gap: 20px
    }

    .forminput {
      width: 355px;
      height: 45px;
      border: 1px solid #eaeaea;
    }

    .formbtn__small {
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: #ffffff;
      border: 1px solid #eaeaea;
      font-family: Lato;
      font-size: 11px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      color: #4a4a4a;

      &_l {
      width: 118px;
      height: 35px;
      padding-left: 15px;
      padding-right: 15px;
      }

      &_r {
        width: 118px;
        height: 35px;
        padding-left: 12px;
        padding-right: 12px;
      }
      
    }

    .formbtn__small:hover {
      background-color: #4a4a4a;
      color: #ffffff;
    }

    .total_bckgr {
      width: 360px;
      height: 214px;
      background-color: #f5f3f3;
    }

     .total {
      display: flex;
      flex-direction: column;      
      padding: 42px 42px 42px 42px ;     
      
      align-items: flex-end;
    }

    
  
    .greyhline {
      
      height: 1px;
      background-color: #e2e2e2;
      

      &_c {
        width: 275px;
        margin-top: 22px;
        margin-bottom: 17px;
      }

      &_stop {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 147px;
        position: relative;
        margin-top: 15px;
        margin-bottom: 18px;
      }

      &_sbottom {
        width: 642px;
        margin-top: 43px;
        margin-bottom: 63px;
      }
    }

    .proceed {      
      padding: 18px 42px 18px 42px;
      background-color: #f16d7f;
      font-family: Lato;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      color: #ffffff;
    }

    .proceed:hover {
      background-color: #fff;
      color:  #f16d7f;
      border: 1px solid #f16d7f ;
      padding: 17px 41px 17px 41px;
    }

   
    
   

    .checkoout-form{
      display: flex;
      flex-direction: row;
      margin-left: 35px;
      margin-top: 39px;
      gap: 293px;
    }

    .checkooutleft {
      display: flex;
      flex-direction: column;
      gap: 34px;

      &__reg {
        gap: 15px;
      }
    }

    .reginfo {
      display: flex;
      flex-direction: column;
      }

    .checkooutright {
      display: flex;
      flex-direction: column;
    }
  
    .login {
      display: flex;
      flex-direction: row;
      align-content: center;
      gap: 32px;
    }


  









/*# sourceMappingURL=test.css.map */